<div class="filter-posts">
    <div class="category">
        <div class="active">Popular</div>
        <div>Best</div>
        <div>New</div>
    </div>
    <div class="search">
        <input placeholder="Search posts" type="text">
        <button>
            <i class="typcn typcn-zoom"></i>
        </button> 
    </div>
</div>