<nav>
    <div class="search-site">
        <input type="text" placeholder="People, posts, communities"/>
    </div>
    <div class="logo">
        <a href="/">
            <i class="typcn typcn-device-desktop"></i>
        </a>
    </div>
    <% if(!user){%>
        <div class="auth-buttons">
            <button onclick="window.location = '/signup'" class="primary signup">Sign up</button>
            <button onclick="window.location = '/login'" class="secondary login">Login</button>
        </div>
    <% }else { %>
        <div class="links">
            <a href="/create-community">Create Community</a>
            <div onclick="window.location = '/my-profile'" class="account">
                <img width="35"  height="35" src="<%= user.pfp%>"/>
                <p>My Profile</p>
            </div>
        </div>
    <% } %>
</nav>