<nav>
    <div class="search-site">
        <input type="text" placeholder="People, posts, communities"/>
    </div>
    <div class="logo">
        <i class="typcn typcn-device-desktop"></i>
    </div>
    <div class="auth-buttons">
        <button class="primary signup">Sign up</button>
        <button class="secondary login">Login</button>
    </div>
</nav>