<section class="site-news">
    <h1>Welcome To The Site!!!</h1>
    <p>
        Welcome to the start of our little corner of the internet. Here, you can get curated content from vetted creators. See a space no one
        has taken advantage of yet, Be the first by making your own community! We hope you enjoy your stay.
    </p>
</section>