<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title: "Create a Community"}) %>
<body>
    <%- include("partials/nav", {user}) %>
    <main class="create-community-page">
        
    </main>
</body>
<%- include("partials/shared-scripts") %>
</html>