/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  color: #333;
  background: #fffded;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
  font-size: 2rem;
  margin-bottom: 4vh;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
p {
  line-height: 1.6rem;
}
button {
  border: none;
  padding: 1vh 2vh;
  border-radius: 3px;
}
button.primary {
  background: #e34275;
  color: #fffded;
}
button.secondary {
  background: #4290e3;
  color: #fffded;
}
nav {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  background: #5df043;
  padding: 1vh 2vh;
  box-shadow: 2px 2px 0px 2px #29be0f;
  margin-bottom: 2px;
}
nav .search-site {
  flex: 2;
}
nav .search-site input {
  background: #fffded;
  border: none;
  padding: 0.8vh 1vh;
  width: 100%;
  max-width: 300px;
}
nav .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% + 1vh);
  width: 60px;
  top: -1vh;
}
nav .logo i {
  font-size: 1.6rem;
  position: absolute;
  width: 100%;
  height: 60px;
  top: 30%;
  background: #5df043;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-preview {
  border: 1px solid #333;
  padding-bottom: 1rem;
  transition: box-shadow 200ms ease-out;
  position: relative;
}
.post-preview.hover {
  cursor: pointer;
  box-shadow: -5px 5px 10px #a5a5a5;
  animation: shift 200ms linear forwards;
}
.post-preview.out {
  animation: unshift 200ms linear forwards;
}
@keyframes shift {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -5px;
    left: 5px;
  }
}
@keyframes unshift {
  from {
    top: -5px;
    left: 5px;
  }
  to {
    top: 0px;
    left: 0px;
  }
}
.post-preview .community {
  text-transform: uppercase;
  text-align: center;
  background: #333;
  color: #fffded;
  font-weight: bold;
  padding: 0.6rem 1rem;
  left: -1px;
  width: calc(100% + 2px);
  position: relative;
}
.post-preview .content {
  padding: 1rem;
}
.post-preview .author {
  margin-bottom: 2vh;
}
.post-preview .author img {
  border-radius: 50%;
  vertical-align: middle;
}
.post-preview h3 {
  margin: 4vh 0;
}
.post-preview .stats {
  display: flex;
  justify-content: center;
}
.post-preview .stats > div {
  margin: 0px 5vh;
}
.post-preview .stats i {
  font-size: 1.6rem;
}
.homepage {
  padding: 5vh 5vh 2vh 5vh;
}
.homepage .site-news {
  margin-top: 10vh;
  max-width: 1000px;
  padding: 4vh;
  border: 2px solid;
  border-top-color: #e34275;
  border-right-color: #e34275;
  border-bottom-color: #4290e3;
  border-left-color: #4290e3;
  box-shadow: -10px 10px #e34275, 10px -10px #4290e3;
  margin-bottom: 10px;
}
.homepage .posts {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10vh;
}
.homepage .posts .post-preview {
  width: 30%;
  margin-right: 3%;
  margin-bottom: 8vh;
}
