<div class="reply">
    <div class="author">
        <img width="20" src="<%= reply.author_pfp%>" alt="">
        <p><%= reply.author_username %></p>
    </div>
    <div class="content">
        <%= reply.reply_body %>
    </div>
</div>