* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: @primaryFontColor;
    background: @primaryBackgroundColor;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 4vh;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

p {
    line-height: 1.6rem;
}

button {
    border: none;
    padding: 1vh 2vh;
    border-radius: 3px;
}

a {
    color: darken(@primaryColor, 20%);
}

button.primary {
    background: @secondaryColor;
    color: @primaryBackgroundColor;
}

button.secondary {
    background: @tertiaryColor;
    color: @primaryBackgroundColor;
}